{% extends 'base.html.twig' %}

{% block title %}Url index{% endblock %}

{% block body %}
    <h1>Url index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Источник</th>
                <th>Hash</th>
                <th>Осталось кликов</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ url.source.value }}</td>
                <td>{{ url.hash.value }}</td>
                <td>{{ url.clicksAgo }}</td>
                <td><a href="/{{ url.hash.value }}">http://localhost:8280/{{ url.hash.value }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('url_new') }}">Create new</a>
{% endblock %}
