{% extends 'base.html.twig' %}

{% block title %}Url{% endblock %}

{% block body %}
    <h1>Url</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ url.value }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ url.hash }}</td>
            </tr>
            <tr>
                <th>Clicks</th>
                <td>{{ url.clicks }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('url_index') }}">back to list</a>

    <a href="{{ path('url_edit', {'id': url.id}) }}">edit</a>

    {{ include('url/_delete_form.html.twig') }}
{% endblock %}
